body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f5f5f5;
	color: #333;
}

header {
	background-color: #004080;
	color: white;
	padding: 20px 0;
	text-align: center;
}

.logo-container {
	text-align: center;
	margin-bottom: 10px;
	display: flex;
	justify-content: center;
}

.logo {
	max-width: 200px;
}

.content h1 {
	margin: 0;
	font-size: 2.5em;
}

.content p {
	margin: 5px 0 0;
	font-size: 1.2em;
}

nav {
	background-color: #0066cc;
	display: flex;
	justify-content: center;
	padding: 10px 0;
	position: sticky;
  	top: 0;
}

nav a, nav span {
	color: white;
	text-decoration: none;
	padding: 10px 20px;
	margin: 0 10px;
	transition: background-color 0.3s;
}


nav a:hover {
	background-color: #005bb5;	
	transform: scale(1.04);
}

main {
	padding: 20px;
}

.flex {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

section div {
	background-color: white;
	padding: 10px;
	margin: 5px;
	border: 1px solid #ddd;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	flex: 1 1 calc(30% - 40px); 
	box-sizing: border-box;
}

section h2 {
	margin-top: 0;
}

section p {
	margin: 10px 0 0;
}

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f5f5f5;
	color: #333;
}

header {
	background-color: #004080;
	color: white;
	padding: 20px 0;
	text-align: center;
}

.logo-container {
	text-align: center;
	margin-bottom: 10px;
}

.logo {
	max-width: 100px;
}



nav {
	background-color: #0066cc;
	display: flex;
	justify-content: center;
	padding: 10px 0;
}

nav a {
	color: white;
	text-decoration: none;
	padding: 10px 20px;
	margin: 0 10px;
	transition: background-color 0.3s;
}

nav a:hover {
	background-color: #005bb5;
}

nav a:active {
	background-color: #005bb5;
	border: 1px solid white;
}

main {
	padding: 20px;
}

.flex {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

section {
	background-color: white;
	padding: 20px;
	margin: 10px;
	border: 1px solid #ddd;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	flex: 1 1 calc(30% - 40px);
	box-sizing: border-box;
}


label {
	display: block;
	margin-bottom: 5px;
}

input[type="text"], input[type="password"], input[type="number"], input[type="tel"]
	{
	width: 100%;
	padding: 8px;
	box-sizing: border-box;
}

button {
	padding: 10px 20px;
	background-color: #004080;
	color: white;
	border: none;
	cursor: pointer;
	margin-right: 10px;
	transition: background-color 0.3s;
}

button:hover {
	background-color: #003366;
}

img {
	width: 100%;
	height: auto;
	display: block;
	margin-bottom: 10px;
}

.services {
	list-style: none;
	padding: 0px;
}

.services li {
	margin: 10px;
	background-color: #0066cc;
	transition: background-color 0.3s;
	padding: 10px;
	box-shadow: 1px 1px 2px black;
	transition: transform 0.2s;
	cursor: pointer;
}

.services li:hover {
	background-color: #005bb5;	
	transform: scale(1.04);
}

.services li:active {
	animation: blink 0.2s ease-in-out 2;
}
 @keyframes blink {
     0%, 100% {
        opacity: 1;
     }
     50% {
        opacity: 0;
     }
 }
.services a {
	display: inline-block;
	color: white;
	text-decoration: none;
	width: 100%;
}

#aboutSection{
	display: none;
}
section p{
	font-size:1.2em;
	text-align:justify;
	margin: 5px 0px;
}
.oner{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.img{
	box-shadow:0px 0px black;
	margin: 5px;
	padding: 0px;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction:column; 
}
.img img{
	border-radius: 50%;
	width: 60%;
	
}
.contect img{
	width: 30px;
	display: inline-block;
	margin: 0px;
}
footer{
	display: flex;
	background-color: black;
	padding: 10px;
	color: #afafaf;
}
footer section{
background-color: black;
border: none;
box-shadow: 1px 0px 2px white;
	}
footer .img{
	width: 20px;
	border-radius: 50%;
}
.success{
	background-color: #3af93a26;
    color: #199f19;
    padding: 8px;
    margin: 5px;
    text-align: center;
}
.error{
	background-color: #ff2f2f26;
    color: red;
    padding: 8px;
    margin: 5px;
    text-align: center;
}